TestConsole/Connected Services/SR_PersonAsmx/AsmxService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QueryPersons">
        <s:complexType />
      </s:element>
      <s:element name="QueryPersonsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryPersonsResult" type="tns:ArrayOfPerson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryPersonsSoapIn">
    <wsdl:part name="parameters" element="tns:QueryPersons" />
  </wsdl:message>
  <wsdl:message name="QueryPersonsSoapOut">
    <wsdl:part name="parameters" element="tns:QueryPersonsResponse" />
  </wsdl:message>
  <wsdl:portType name="AsmxServiceSoap">
    <wsdl:operation name="QueryPersons">
      <wsdl:input message="tns:QueryPersonsSoapIn" />
      <wsdl:output message="tns:QueryPersonsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AsmxServiceSoap" type="tns:AsmxServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryPersons">
      <soap:operation soapAction="http://tempuri.org/QueryPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AsmxServiceSoap12" type="tns:AsmxServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryPersons">
      <soap12:operation soapAction="http://tempuri.org/QueryPersons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsmxService">
    <wsdl:port name="AsmxServiceSoap" binding="tns:AsmxServiceSoap">
      <soap:address location="http://localhost:64442/AsmxService.asmx" />
    </wsdl:port>
    <wsdl:port name="AsmxServiceSoap12" binding="tns:AsmxServiceSoap12">
      <soap12:address location="http://localhost:64442/AsmxService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>